{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin_dash">Subjects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin_dash/quiz">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_dash/summary">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_dash/search">Search</a>
          </li>
        </ul>

        
      </div>
    </div>
  </nav>


<div id="dashboard">
    <div>
      <a class="btn btn-success" href="/admin_dash/add_quiz">Create Quiz</a>
      <br>
      <div class="d-flex justify-content-center">
      {% for quiz in quizes %}

      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">Quiz :{{quiz.id}}</h5>
          {% for chapter in chapters %}
          {% if chapter.id == quiz.chapter_id %}
          <h6 class="card-subtitle mb-2 d-flex justify-content-center"text-body-secondary">{{chapter.name}}</h6>
          {% endif %}
          {% endfor %}
          <a class="btn btn-danger" href="/admin_dash/quiz/delete/{{quiz.id}}" class="card-link">Delete Quiz</a>
          <br>
          <hr>
          
          <table class="table">
            <h5>Questions</h5>
            <a class="btn btn-outline-success" href="/admin_dash/quiz/add_question/{{quiz.id}}" class="card-link">+ Add Quetions</a>
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Question</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {%for que in quiz.questions%}
              <tr>
                <th scope="row">{{que.id}}</th>
                <td>{{que.que_statement}}</td>
                <td><a class="btn btn-outline-info" href="/admin_dash/quiz/edit_que/{{que.id}}">Edit</a></td>
                <td><a class="btn btn-outline-danger" href="/admin_dash/quiz/delete_que/{{que.id}}">Delete</a></td>
              </tr>
              {%endfor%}
              
            </tbody>
          </table>
          
         
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
</div>
{% endblock %}