{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin_dash">Subjects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin_dash/quiz">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_dash/summary">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_dash/search">Search</a>
          </li>
        </ul>

        
      </div>
    </div>
  </nav>


<div id="dashboard">
    <div id="total_subjects">
        <div >
          <br>
        <h2>Subjects</h2>
        <br>
        <hr>
        

        <a class="btn btn-success" href="/admin/add_subject">+Add Subject</a>
        
        </div>
        <br>
        {% for subject in subjects %}
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 100rem;">
            <div class="card-body">
              <h5 class="card-title">{{subject.name}}</h5>
              <p class="card-text">{{subject.sdesc}}</p>
              <a class="btn btn-outline-primary" href='/admin/edit_subject/{{subject.id}}' class="card-link">Edit Subject</a>
              <a class="btn btn-outline-danger" href='/admin/delete_subject/{{subject.id}}' class="card-link">Delete Subject</a>

              
              <div class="d-flex justify-content-center">
              <div class="card" style="width: 65rem;">
                <div class="card-header">
                  Chapters :
                  <a class="btn btn-success" href="/admin/add_chapter/{{subject.id}}">+Add Chapter</a>
                </div>
                {% for chapter in chapters %}
                {% if chapter.sub_id == subject.id %}
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h5>{{chapter.name}}</h5>
                    <p>{{chapter.cdesc}}</p>
                    <a class="btn btn-info" href='/admin/edit_chapter/{{chapter.id}}' class="card-link">Edit Chapter</a>
                    <a class="btn btn-danger" href='/admin/delete_chapter/{{chapter.id}}' class="card-link">Delete Chapter</a>
                  </li>
                  
                  
                </ul>
                {% endif %}
                {% endfor %}
              </div>
            </div>
                
            </div>
          </div>
          
        </div>
            {% endfor %}
        
        <br>
        
    </div>


</div>
{% endblock %}