{% extends 'base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

<div id="register">

    <h1 class="r1">Edit Question</h1>
    <form method="post">
        <label for="que">Question</label>
        <input type="text" name="que" id="que" value="{{question.que_statement}}" required>
        <label for="op1">Option 1</label>
        <input type="text" name="op1" id="op1" value="{{question.option_1}}" required>
        <label for="op2">Option 2</label>
        <input type="text" name="op2" id="op2" value="{{question.option_2}}" required>
        <label for="op3">Option 3</label>
        <input type="text" name="op3" id="op3" value="{{question.option_3}}" required>
        <label for="op4">Option 4</label>
        <input type="text" name="op4" id="op4" value="{{question.option_4}}" required>
        <label for="ans">Answer</label>
        <input type="text" name="ans" id="ans" value="{{question.ans}}" required>

        <button type="submit">Add</button>
    </form>
  
</div>
{% endblock %}