{% extends 'base.html' %}

{% block title %}
    {{user.name}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user_dash/{{user.id}}">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user_dash/score/{{user.id}}">Score</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_dash/summary/{{user.id}}">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_dash/search/{{user.id}}">Search</a>
          </li>
        </ul>

        
      </div>
    </div>
  </nav>


<h3>Welcome {{user.name}}</h3>
<br>
<hr>
<br>
<div>
  <h5>Upcoming Quizzes</h5>
  <table class="table">
  <thead>
    
    <tr>
      <th scope="col">ID</th>
      <th scope="col">No. of Questions</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizes %}
    <tr>
      <th scope="row">{{quiz.id}}</th>
      <td>{{quiz.questions | length}}</td>
      <td>{{quiz.date_of_quiz}}</td>
      <td>
        <a href="/user_dash/quiz_view/{{user.id}}/{{quiz.id}}" class="btn btn-primary">View</a>
        <a href="/user_dash/quiz_attempt/{{user.id}}/{{quiz.id}}" class="btn btn-success">Attempt</a>
      </td>
    </tr>
    
    {% endfor %}
   
  </tbody>
</table>

</div>
</div>
{% endblock %}