{% extends 'base.html' %}

{% block title %}
    {{user.name}}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user_dash/{{user.id}}">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user_dash/score/{{user.id}}">Score</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_dash/summary/{{user.id}}">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_dash/search/{{user.id}}">Search</a>
          </li>
        </ul>

        
      </div>
    </div>
  </nav>


<h3>Welcome {{user.name}}</h3>
<br>
<hr>
<br>
<div>
<form>

    <label for="type" >Search Type</label>
    <select  id="type" name="type" required>
      <option  disabled>Select a Valid Option</option>
      <option value="Subject">Subjects</option>
      <option value="Chapter">Chapters</option>
      <option value="Quiz">Quizzes</option>
      <option value="Question">Questions</option>
    </select>

  
    <label for="search" >Search</label>
    <input type="text"  id="search" name="search" placeholder="Enter Here" required>

  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<table class="table">
  <thead>
    {%for quiz in quizes%}
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      {%endfor%}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      
    </tr>
    

   
  </tbody>
</table>
</div>
<script src="/static/script.js"></script>
{% endblock %}